
# Ignorar archivos temporales
*.log
*.tmp

# Ignorar archivos de Python compilados
__pycache__/
*.pyc

# Ignorar entornos virtuales
env/
venv/
.env/

# Ignorar archivos de Jupyter Notebook
*.ipynb_checkpoints

# Ignorar archivos de configuración
.vscode/
.idea/

# Excluir archivos temporales de Windows
Thumbs.db
Desktop.ini

# Archivos del sistema
*.log
*.bak
*.swp

# Archivos de configuración local de VS Code
.vscode/

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos de Anaconda y Miniconda
.conda/
.anaconda/
.continuum/

Semestre_II/codigo_cirrosis/Microsoft/Protect/Recovery/
*.dat

Semestre_II/codigo_cirrosis/Microsoft/Protect/Recovery/Recovery.dat.LOG1

*.log
*.dat
*.bin
.venv/

